
li a:hover:not(active) {
    background-color: lavender;
}

.active {
    background-color: black;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: .5px;
    
}

p {
 text-align: center
     
}
